<% layout("layouts/boilerplate.ejs") -%>
<body>
  <div class="flex flex-col items-center justify-center gap-2 min-w-[700px]">
    <h1 class="font-semibold text-gray-700 text-3xl my-4">Edit a Listing</h1>
    <div class="flex justify-center">
      <form
        id="myForm"
        method="post"
        action="/listings/<%=listing._id%>?_method=PUT"
        enctype="multipart/form-data"
      >
        <div class="text-red-500" id="errorMessage" style="display: none">
          Please fill out all fields.
        </div>
        <div class="flex flex-col gap-3 justify-center">
          <label for="title">Title</label>
          <input
            id="title"
            name="listing[title]"
            value="<%=listing.title%>"
            class="border-2 border-gray-300 bg-white p-2 rounded-md"
            required
          />
          <label for="description">Description</label>
          <textarea
            id="description"
            name="listing[description]"
            class="border-2 border-gray-300 p-2 bg-white rounded-md"
            rows="3"
            required
          >
 <%=listing.description%></textarea
          >
          <div class="flex gap-4">
            <div class="h-[200px] w-[50%]">
              <img
                src="<%= originalUrl%>"
                alt="edit image"
                height="130px"
                class="object-cover w-[100%] h-[100%] rounded-md"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label for="country" class="h-[20px]">Country</label>
              <input
                id="country"
                name="listing[country]"
                type="text"
                value="<%=listing.country%>"
                class="border-2 border-gray-300 p-2 bg-white rounded-md"
              />
              <label for="price">Price</label>
              <input
                id="price"
                name="listing[price]"
                type="text"
                value="<%=listing.price%>"
                class="border-2 border-gray-300 p-2 bg-white rounded-md"
                required
              />
              <select
                name="listing[category]"
                class="block w-full mt-1 p-2 border-2 border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              >
                <option value="<%=listing.category%>" disabled selected>
                  <%=listing.category%>
                </option>
                <option  value="Trending">Trending</option>
                <option value="Single Rooms">Single Rooms</option>
                <option value="Mountain">Mountain</option>
                <option value="Farm">Farm</option>
                <option value="Castle">Castle</option>
                <option value="Camping">Camping</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Igloos">Igloos</option>
              </select>
            </div>
          </div>
          <label for="image">Upload Listing Image</label>
          <input
            id="image"
            name="listing[image]"
            type="file"
            placeholder="Enter image url"
            class="border-2 border-gray-300 p-2 bg-white rounded-md"
          />

    
          <label for="location">Location</label>
          <input
            id="location"
            name="listing[location]"
            type="text"
            value="<%=listing.location%>"
            class="border-2 border-gray-300 p-2 bg-white rounded-md"
            required
          />

          <button
            type="submit"
            class="bg-orange-500 rounded-md text-white py-2 px-3"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
